html {
  color: #666;
  font-family: Arial;
  width: 250px;
  border: solid 3px #e31e26;
  max-height: 201px;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  margin: 10px 0 0 0;
}

h1 a {
  background: url(../img/logo-ticket.jpg) no-repeat center top;
  display: block;
  margin: 0;
  height: 56px;
  text-indent: -100%;
}

a {
  color: rgb(17, 31, 75);
  text-decoration: none;
}

.options-menu li {
  border-bottom: solid 1px #e5e5e5;
}
.options-menu a {
  display: block;
  padding: 10px;
  text-align: center;
}

.my-cards a {
  display: inline;
}

.remove {
  border-radius: 50%;
  background: #e31e26;
  color: #fff;
  display: block;
  padding: 2px 4px 4px 2px;
  width: 5px;
  height: 5px;
  font-size: 9px;
  cursor: pointer;
  float: right;
}
