<h2>Adicionar cartão</h2>
<form no-validate name="addForm" ng-submit="saveCard()">
  <ul class="form-list">
    <li>
      <p class="card-name-text">Número do cartão?</p>
      <input ui-mask="9999 9999 9999 9999" type="text" ng-model="newCard" required>
    </li>
    <li>
      <p class="card-name-text">Quer dar um nome ao cartão?</p>
      <input type="text" ng-model="cardName" maxlength="20">
    </li>
    <li>
      <button ng-disabled="addForm.$invalid" class="button button-add" type="submit">Salvar</button>
    </li>
    <li>
      <a href="#/" class="button button-add button-cancel">Cancelar</a>
    </li>
  </ul>
</form>
