<div ng-show="cards.length >= 1">
  <h2>Meus cartões <small>({{ cards.length }})</small></h2>
  <ul class="my-cards">
    <li ng-repeat="card in cards">
      <a title="Veja o saldo deste cartão" class="card" ng-click="showBalance(card.number)">
        <strong ng-show="card.name">{{ card.name }}</strong>
        <strong ng-hide="card.name">{{ card.number | cardformat }}</strong>
      </a>
      <a class="remove" ng-click="remove($index)">X</a>
    </li>
  </ul>
</div>

<div ng-hide="cards.length >= 1">
  <h2>Você não tem nenhum cartão.</h2>
</div>

<div class="spacer">
  <a class="button button-add" href="#/addCard">Adicione um cartão</a>
</div>

<div class="spacer">
  <a href="#/" class="button button-add button-cancel">Cancelar</a>
<div class="spacer">
